parameters:
    shop_id: 1
    customers: 1000
    manufacturers: 100
    suppliers: 10
    addresses: 1000
    aliases: 1000
    categories: 100
    warehouses: 2
    carriers: 3
    specific_prices: 10000
    attribute_groups: 10
    products: 10000
    attributes: 10
    carts: 1000
    cart_rules: 100
    customizations: 10
    features: 7500
    feature_values: 5
    orders: 10
    guests: 1000
    order_histories: 6
    range_prices: 100
    range_weights: 100
    product_attributes: 5
    images: 100
    order_messages: 100
    deliveries: 100
    connections: 1000
    product_suppliers: 10
    order_carriers: 2
    order_details: 10
    feature_products: 5
    stores: 100
    profiles: 10
    stock_availables: 1
    langs:
        - fr_FR
        - en_US
